/* CSS Document */
*{
	box-sizing: border-box;
	padding: 12px 10px;
}
h2{
	background-size: auto;
	background-color: brown;
	font-size: 30px;
}
body{
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	width: 100%;
	margin: 3em auto;
	font-weight: bold;
	background-color: saddlebrown;
	color: white;
	text-decoration-color: aliceblue;
	text-align: center
}
nav ul li{
	display: inline-block
}
.menu{
	list-style: none;
	padding: 0;
}
.menu ul li{
	display: inline
}
/*espaçamento e definição de menu em bloco*/
.menu ul li a{
	background-color: #333333; text-decoration: none; padding: 5px 10px; display: block;
}
.menu ul li a{
			background-color: aliceblue;
			display: inline-block;
			text-align: center;
			color: #000000;
}
p{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	background-color: black;
	border: medium;
	
}

header{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 30px;
	color: white;
	text-align: center;
	padding: 20px
}
.horario{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	display: inline-block;
	list-style: none;
}
.produto{
	line-height: 2;
	background: #FFFFFF;
		
}
.horario li{
	background-color: #FFFFFF;
	color: black;
}
.barra{
	background-color: burlywood
		
}
.barra h3{
	background-color: white;
	width: 300px;
	height: 150px;
	color: saddlebrown;
	
	
}
.barra ul{
	text-align: right;
}
footer{
	background-color: chocolate;
	font-size: 25px;
	width: 100%;  
}
